.progress-bar-container{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100vw;
    height: 5px;
    background: #ddd;
}

.progress-bar{
    width: 30%;
    height: 100%;
    background-color: teal;
}

header{
    background-color: white;
    position: fixed;
    border-bottom: 1px solid #ddd;
    width: 100%;
    height: 70px;
    display:flex;
    justify-content:space-between;
    align-items: center;
}


header h1{
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
    line-height: 60px;
}

header nav {
    margin-right: 20px;
}

header nav a{
    margin-left:35px;
    text-decoration: none;
    color:black;
    font-weight: bold;
    margin-right: 20px;
    line-height: 60px;
    display: inline-block;
    padding: 0 10px;
}

header nav a:hover{
    color: tomato;
}

main{
    padding-top: 70px;
}

main section{
    height: 100vh;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main #section1{
    background-color: red;
}

#section2{
    background-color: yellow;
}

#section3{
    background-color: purple;
}

main section h2{
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

main section p {
    width: 50%;
    text-align: center;
    line-height: 1.4rem;
}

#top {
    width: 90px;
    height: 90px;
    background-color: black;
    border-radius: 50%;
    position: fixed;
    right: 0;
    bottom: 0;
}

#top a {
    display:flex;
    text-decoration: none;
    color:white;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}