.container{
    background-color: lightgray;
    height: 100vh;

    /* 1. display: flex; */
    display: flex;

    /* 2. flex-direction */
    flex-direction: column;
    flex-direction: column-reverse;
    flex-direction: row-reverse;
    flex-direction: row; /* 기본값 */

    /* 3. flex-wrap */
    /* flex-wrap: wrap;  */
    /* flex-wrap: wrap-reverse;*/
    flex-wrap: nowrap; /*기본값*/

    /* 4. justify-content */
    justify-content: flex-start; /* 기본값 */
    /* justify-content: flex-end;
    justify-content: center; */
    /* justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly; */

    /* 5. align-items */
    /* align-items: flex-start; */
    /* align-items: flex-end;
    align-items: center; */
    /* align-items: baseline; */
    align-items: stretch; 

    /* 6. align-content */
    align-content: flex-start; /* 기본값 */
    /* align-content: flex-end;
    align-content: center;
    align-content: space-between;
    align-content: space-around;
    align-content: space-evenly; */
}

.item{
    border: 3px solid;
    background-color: white;

    /* 7. flex-grow */
    /* 페이지에 남은 여백을 없애기 위해서 값을 1로 두면 여백이 사라짐 * /
    flex-grow: 1;

    /* 8. flex-basis */
    flex-basis: auto; /* 기본값 */
    flex-basis: 0;

    /* 9. flex */
    flex: 1;
}

/* .item:nth-child(1){flex-grow: 1;}
.item:nth-child(2){flex-grow: 5;}
.item:nth-child(3){flex-grow: 2;}
.item:nth-child(4){flex-grow: 3;}
.item:nth-child(5){flex-grow: 1;} */

.item:nth-child(1){
    align-self: flex-start;
    order: 1;
}

.item:nth-child(2){
    align-self: flex-end;
    order: 3;
}

.item:nth-child(3){
    align-self: center;
    order: 2;
}

.item:nth-child(4){
    align-self: baseline;
}

.item:nth-child(5){
    align-self:stretch;
}

.item img{
    width: 95px;
    height: 95px;
    
}